<%= form_for([course, assignment]) do |f| %>
  <% if assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :start_date %>
    <%= f.text_field :start_date, class: "form-control datepicker" %>
  </div>

  <div class="field form-group">
    <%= f.label :end_date %>
    <%= f.text_field :end_date, class: "form-control datepicker" %>
  </div>

  <div class="field form-group">
    <%= f.label :statement %>
    <%= f.text_area :statement, class: "form-control" %>
  </div>

  <div class="actions form-group">
    <%= f.submit nil, class: "btn btn-success" %>
  </div>
<% end %>
