<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @assignment.title %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @assignment.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @assignment.end_date %>
</p>

<p>
  <strong>Statement:</strong>
  <%= markdown(@assignment.statement) %>
</p>

<%= link_to 'Grades', course_assignment_grades_path(assignment_id: @assignment.id) %>
<%= link_to 'Edit', edit_course_assignment_path %> |
<%= link_to 'Back', course_assignments_path %>
