<%= form_for(course_person) do |f| %>
  <% if course_person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course_person.errors.count, "error") %> prohibited this course_person from being saved:</h2>

      <ul>
      <% course_person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_id %>
    <%= f.text_field :course_id %>
  </div>

  <div class="field">
    <%= f.label :person_id %>
    <%= f.text_field :person_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
