<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @course_person.course %>
</p>

<p>
  <strong>Person:</strong>
  <%= @course_person.person %>
</p>

<%= link_to 'Edit', edit_course_person_path(@course_person) %> |
<%= link_to 'Back', course_people_path %>
