<!DOCTYPE html>
<html>
  <head>
    <title>ProyectoRailsBase</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
  </head>
    
  <body>
    <% unless notice.nil? %>
      <div class="alert alert-success notice"><%= notice %></div>
    <% end %>
    <% unless alert.nil? %>
      <div class="alert alert-warning"><%= alert %></div>
    <% end %>
    <%= render 'layouts/navbar' %>

    <% if @course and @course.id %>
      <div>
        <%= render 'courses/navbar', course: @course %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
